.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Exclude all files under viewer (flutter build files) and only include the files directly under Web.
viewer/**/*
!viewer/build/web/*